html {
  font-family: Helvetica;
  font-size: 18px;
}

/* LOGO BANNER */

.logobanner {
  background-color: black;
  display: flex;
  align-items: center;
}
.logobanner p {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  padding: 0.66rem 0;
}
.logobanner img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

/* MAIN BANNER */

.mainbanner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 25rem;
  top: 9rem;
}
.mainbanner .new {
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: 23rem;
  position: relative;
  top: 9rem;
}
.mainbanner .new h3 {
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem 0 0.25rem 3rem;
}
.mainbanner .new h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

/* NAV BANNER */

.desknavbanner {
  background-color: firebrick;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.desknavbanner span a {
  color: white;
  text-decoration: none;
}

.tabnavbanner {
  display: none;
}

/* PRODUCT GRID */

.productgrid {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.productgrid .cell {
  border: 4px solid black;
  text-align: center;
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cell .glassesimg {
  margin-top: 4rem;
}

.productimg {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productimg img {
  max-height: 9rem;
  max-width: 8rem;
}

.productcontent {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
}

/* LOCATION SECTION */

.final {
  display: flex;
  justify-content: space-between;
}

.location-hour {
  width: 35%;
}

.location-hour .content {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

/* FOOTER */

footer {
  background-color: black;
  color: white;
  text-align: left;
  height: 5rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

/* Tablet MEDIA QUERY <1024px  */

@media only screen and (max-width: 1024px) {
  .mainbanner {
    background-size: cover;
  }
  .desknavbanner {
    display: none;
  }

  .tabnavbanner {
    display: flex;
    background-color: firebrick;
    padding: 0.75rem;
    justify-content: center;
  }

  .tabnavbanner span a {
    color: white;
    text-decoration: none;
  }

  .productgrid .pen, .productgrid .watch {
    width: 47%;
  }

  .productgrid .glasses {
    display: none;
  }
}

/* Phone MEDIA QUERY <470px */

@media only screen and (max-width: 470px) {
  .mainbanner {
    background-size: cover;
    height: 15rem;
  }

  .mainbanner .new {
    width: 100%;
    display: relative;
    top: 10rem;
  }
  .mainbanner .new h3 {
    font-size: 0.77rem;
    font-weight: bold;
    padding: 1rem 0 0.25rem 2rem;
  }
  .mainbanner .new h1 {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .productgrid {
    justify-content: center;
  }

  .productgrid .pen {
    width: 90%;
  }

  .productgrid .watch {
    display: none;
  }

  .final {
    flex-direction: column;
    align-items: center;
  }
  .location-hour {
    width: 90%;
    margin: 0 0 .5rem 0;
  }
  .footer p {
    text-align: center;
  }
}
