html {
  font-family: Helvetica;
  font-size: 18px;
}

/* LOGO BANNER */

.logobanner {
  background-color: black;
  display: flex;
  align-items: center;
}
.logobanner p {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  padding: 0.66rem 0;
}
.logobanner img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

/* MAIN BANNER */

.mainbanner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 25rem;
  top: 9rem;
}
.mainbanner .new {
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: 23rem;
  position: relative;
  top: 9rem;
}
.mainbanner .new h3 {
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem 0 0.25rem 3rem;
}
.mainbanner .new h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

/* NAV BANNER */

.navbanner {
  background-color: firebrick;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.navbanner span a {
  color: white;
  text-decoration: none;
}

/* PRODUCT GRID */

.productgrid {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.productgrid .cell {
  border: 4px solid black;
  text-align: center;
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productimg .glasses {
  align-self: center;
}

.productimg {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productimg img {
  max-height: 9rem;
  max-width: 8rem;
  border: 1px solid green;
}

.productcontent {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
}
